node_modules
dist
.output
.vinxi
.vercel
*.log

# env
.env
.env.local
.env.*.local

# supabase
supabase/.branches
supabase/.temp

# os
.DS_Store

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
